<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="iOS SwiftUIDemoAllComponents Appium Automation Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="SwiftUI Component Tests">
        <classes>
            <class name="tests.IOSAppiumTest"/>
            <class name="tests.AppLaunchTest"/>
            <class name="tests.BasicComponentTest"/>
            <class name="tests.ComponentNavigationTest"/>
            <class name="tests.ComponentSearchTest"/>
            <class name="tests.LoginPage"/>
            <class name="tests.LoginFailureDemoTest"/>
            <class name="tests.LoginScreenTest"/>
        </classes>
    </test>
</suite>
